# Variables sensibles
.env
.env.local
.env.*.local
*.ini
secrets.json
credentials.json

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/

# MyPy
.mypy_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.claude