{% load static %} {% load django_htmx %} {% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{%block title%}Gestor Horarios UCJC{%endblock%}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    {% tailwind_css %}
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js" defer></script>
</head>
</head>
<body>
    {% include "components/header.html" %}
    <main>
        {% block content%}
        {% endblock %}
    </main>

    {% include "components/toast.html" %}
    <script src="{% static 'js/toast.js' %}"></script>
    <script>
      window.toast = showToast;
      document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
        showToast("{{ message|escapejs }}",
          "{% if 'error' in message.tags %}error{% elif 'success' in message.tags %}success{% elif 'warning' in message.tags %}warning{% else %}info{% endif %}");
        {% endfor %}
      });
    </script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>